@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #1B4965;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "PT Sans";
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {  
    background-color:#BEE9E8;
    font-family: "Open Sans";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #62B6CB;
}

nav a {
    padding: 35px;
}

nav a:hover {
    background-color:#1B4965 ;
    color: white;
}

.book, .join {
    background-color: #62B6CB;
    color: #1B4965;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#background {
    background-color: #62B6CB; 
}

.msg {
    background-color: #BEE9E8;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #62B6CB;
    padding: 25px 50px;
    margin-top: 50px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #1B4965;
    font-family: "PT Sans";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #1B4965;
    font-family: "PT Sans";
}

.book:hover, .join:hover {
    background-color:#1B4965 ;
    color: white;
}

.msg h2 {
    color: #1B4965;
    font-family: "PT Sans";
}

.msg p {
    color: #1B4965;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: #1B4965;
    font-family: "PT Sans";
   
}

footer a {
    color: #1B4965;
    text-decoration: none;
}

footer a:hover {
    background-color:#1B4965 ;
    color: white;
}

.icon {
    width: 80px;
    padding-top: 10px
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
    font-family: "PT Sans";
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #1B4965;
}