
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=PT+Sans&display=swap');

#content {
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
   display: block;
   margin: auto;
   padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1em;   
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;    
    background-color: #8D99AE;    
    overflow: hidden;              
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    float: left;    
    text-align: center;
    padding: 10px 30px;    
    font-size: 17px;   
}

nav a:hover {    
    background-color: #EDF2F4;
    color: black;          
}

header {
    /*Color is the rgb conversion of #8D99AE with 40% opacity*/
    background-color: rgb(141, 153, 174, .40);    
    font-family: "PT Sans";   
}

#hero-img {
    margin-top: 5px;    
    width: 100%;
    border: 1px solid black;
}

.weathersummary {
    position: absolute;
    top:220px;
    right: 15%;
    border: 1px solid #FFFFFF;
    padding: .2rem;
    font-family: "PT Sans";
    color: white; 
    font-size: 12px;
    line-height: 6px;
    text-align: left;
    max-width: 45%;
    background: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(9, 26, 82, 0.8) 20%, rgba(11, 46, 17, 0.9) );
    border-radius: 8px;
}

#hero-msg {
    padding: 5px;
    background-color: rgb(141, 153, 174, .40); 
    border: 1px solid black;
    text-align: center;
    font-family: "PT Sans";
    }

.home-title {
    font-size: 3em;
    line-height: .2em;    
}

h4 {       
    line-height: .1em;
}

h2 {
    text-align: center;
    line-height: .2em;
    font-family: "PT Sans";

}

.button-box {    
    margin: auto;
    background-color: #EF233C;       
    padding: 10px 20px;
    width: 85px;
    border: 1px solid black;
    border-radius: 5%;
    text-decoration: none;    
}

.button-box a, .social a {
  text-decoration: none;
  color:black;
  
  
}

.button-box:hover, .siteplan:hover, .contactus:hover {    
    background-color: #EDF2F4;
    color: black; 
            
}

.home-grid {
    margin-top: 5px;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr;             
    border: 1px solid black;    
    place-items: center; 
    padding: 2% 2%;   
}

.main-text p {       
    font-family: Dosis;
    font-weight: 600;
    color:black;
    font-size: .88em;
}
.main-img {         
    max-width: 90%;
    height: auto;
    padding-left: 5%;               
}

footer {
    margin-top: 5px;    
    background-color: rgb(141, 153, 174, .40);     
    font-family: "PT Sans";
    border: 1px solid black; 
}

footer h3 {
    text-align: center;
    font-family: "PT Sans";
    font-size: 1em;
}

.social {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    place-items: center;
    font-size: .8em;
    padding-bottom: 20px;
    
}

.siteplan {
    grid-column: 1/2;
    width: 80px;   
    background-color: #EF233C;
    border: 1px solid black;
    border-radius: 5%;           
}

.contactus {
    grid-column: 2/3;
    width: 80px;    
    background-color: #EF233C;
    border: 1px solid black;
    border-radius: 5%;
        
}

.facebook {
    grid-column: 8/9;
}

.facebook:hover, .twitter:hover, .instagram:hover, .main-img:hover, .logo:hover {
    opacity: .6;
    transform: scale(1.1);
}

.twitter {
    grid-column: 9/10;
}
.instagram {
    grid-column: 10/11;
}

footer img {
    max-height: 40px;    
}

@media screen and (max-width: 900px) {
    .home-grid {
        height: 800px
    }

    .home-title {
        font-size: 2em;
    }

    .weathersummary h2{
        font-size: 1em;
    }
}